---
import "@fontsource/outfit";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/qr-code-component/favicon-32x32.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>QR Code Component</title>
  </head>
  <body class="h-screen flex justify-center items-center">
    <div class="card-wrapper">
      <div class="card">
        <img src="/qr-code-component/image-qr-code.png" />
        <div class="font-bold text-slate-900">
          Improve your front end skills by building projects
        </div>
        <div class="font-normal text-slate-500">
          Scan the QR code to visit Frontend Mentor and take your coding skills
          to the next level
        </div>
      </div>
    </div>

    <style>
      @import "tailwindcss";
    </style>
  </body>
</html>
